<h1>What is 'Members Only?'</h1>
<p>Members only <%= link_to "logged in", login_path %> is where top-secret, salacious messages are stored.</p>

<p>To find out who posted the messages, use one of the following logins:</p>

<table>
  <tr>
    <th>Email</th>
    <th>Password</th>
  </tr>

  <tr>
    <td>momsspaghetti@example.com</td>
    <td>foobar</td>
  </tr>

  <tr>
    <td>wheresmyipad@example.com</td>
    <td>foobar</td>
  </tr>      

  <tr>
    <td>passwordisfoobar@example.com</td>
    <td>foobar</td>
  </tr>  

</table>
