<h1>What is 'Members Only?'</h1>
<p>Members only is where a user can annoymously post top secret messages.  A user must <%= link_to "logged in", login_path %> to post messages and to see who authored the posts in the index.  If a user is not logged in, the post's author will be listed as "REDACTED".</p>

<p>To log in, visit the <%= link_to "log in page", login_path %>  and use one of the following credentials:</p>

<table>
  <tr>
    <th>Email</th>
    <th>Password</th>
  </tr>

  <tr>
    <td>momsspaghetti@example.com</td>
    <td>foobar</td>
  </tr>

  <tr>
    <td>wheresmyipad@example.com</td>
    <td>foobar</td>
  </tr>      

  <tr>
    <td>passwordisfoobar@example.com</td>
    <td>foobar</td>
  </tr>  

</table>
